# === CORE (CLI + menu) ===
colorama
pystyle
psutil
requests
aiohttp
pycryptodome
mnemonic
stem
phonenumbers
whois
dnspython
beautifulsoup4
pysocks
websocket-client
piexif
exifread
mutagen
PyQt5
selenium
webdriver-manager
pillow

# === OUTILS SPÉCIFIQUES (stub/) ===
discord.py
browserhistory
opencv-python
numpy
pyautogui
mss
pyaudio
wave
pyperclip
cryptography
pynput
win32com
pypiwin32
pywin32
